<!DOCTYPE html>
<html>
<head>
  <title>JARVIS</title>
  <%= stylesheet_link_tag    "bootstrap.min.css" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "popcorn-complete.min.js" %>
  <%= javascript_include_tag "speakClient.js" %>
  <%= javascript_include_tag "speakGenerator.js" %>
  <%= javascript_include_tag "speakWorker.js" %>
  <%= javascript_include_tag "textarea-helper.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
